<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FontFamily" value="HackGen"/>
    <add key="FontColor" value="#F5F5F5"/>
    <add key="FontSize" value="20"/>
    <!--alphaRGB-->
    <add key="Background" value="#30000080"/>
    <add key="WindowWidth" value="800"/>
    <add key="WindowHeight" value="120"/>
    <add key="ApiKey" value=""/>
    <add key="VideoId" value=""/>
    <add key="CommentNum" value="5"/>
  </appSettings>
</configuration>